<div id="preloder">
  <div class="loader"></div>
</div>

<header class="header-section">
  <div class="container">
    <a class="site-logo" href="#">
      <img src="assets/img/logo.png" alt="" />
    </a>
    <div class="user-panel">
      <a href="/login">
        Sign out <span><i class="fa fa-sign-out"></i></span>
      </a>
    </div>

    <div class="nav-switch">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>

<div class="row">
  <div class="col-2 side-nav footer-top-section">
    <div class="filter-content collapse show" id="collapse_2">
      <div class="card-body">
        <label
          class="custom-control custom-checkbox"
          *ngFor="let c of category"
        >
          <input
            type="checkbox"
            class="custom-control-input"
            [value]="c.gameCategoryId"
            name="category"
            (change)="oncategorySelect($event)"
            [checked]="selectedcategory == c.gameCategoryId"
          />
          <div class="custom-control-label">{{ c.name }}</div>
        </label>
      </div>
      <!-- card-body.// -->
      <label class="btn btn-block btn-success" (click)="onCategoryFilter()">
        Apply
      </label>
    </div>
  </div>
  <div class="col-10">
    <section class="feature-section spad">
      <div class="container">
        <div class="row" *ngFor="let f of feed">
          <div class="col-lg-3 col-md-6 p-1">
            <div
              class="feature-item set-bg"
              data-setbg="f.imageUrl"
            >
              <span class="cata new">f.gameCategory</span>
              <div class="fi-content text-white">
                <h5><a (click)="navigate(f.gameId)">f.name</a></h5>
                <a (click)="navigate(f.gameId)" class="fi-comment">more <span><i class="fa fa-arrow-right"></i></span></a>
              </div>
            </div>
          </div>>
        </div>
      </div>
    </section>
  </div>
</div>

<section class="footer-top-section">
  <div class="container">
    <div class="footer-top-bg">
      <img src="assets/img/footer-top-bg.png" alt="" />
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="footer-logo text-white">
          <img src="assets/img/footer-logo.png" alt="" />
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit
            ame.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget mb-5 mb-md-0">
          <h4 class="fw-title">Latest Posts</h4>
          <div class="latest-blog">
            <div class="lb-item">
              <div
                class="lb-thumb set-bg"
                data-setbg="assets/img/latest-blog/1.jpg"
              ></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum</p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
            <div class="lb-item">
              <div
                class="lb-thumb set-bg"
                data-setbg="assets/img/latest-blog/2.jpg"
              ></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum</p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
            <div class="lb-item">
              <div
                class="lb-thumb set-bg"
                data-setbg="assets/img/latest-blog/3.jpg"
              ></div>
              <div class="lb-content">
                <div class="lb-date">June 21, 2018</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum</p>
                <a href="#" class="lb-author">By Admin</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="footer-widget">
          <h4 class="fw-title">Top Comments</h4>
          <div class="top-comment">
            <div class="tc-item">
              <div
                class="tc-thumb set-bg"
                data-setbg="assets/img/authors/1.jpg"
              ></div>
              <div class="tc-content">
                <p>
                  <a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor
                  sit amet, co
                </p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div
                class="tc-thumb set-bg"
                data-setbg="assets/img/authors/2.jpg"
              ></div>
              <div class="tc-content">
                <p>
                  <a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor
                  sit amet, co
                </p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div
                class="tc-thumb set-bg"
                data-setbg="assets/img/authors/3.jpg"
              ></div>
              <div class="tc-content">
                <p>
                  <a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor
                  sit amet, co
                </p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
            <div class="tc-item">
              <div
                class="tc-thumb set-bg"
                data-setbg="assets/img/authors/4.jpg"
              ></div>
              <div class="tc-content">
                <p>
                  <a href="#">James Smith</a> <span>on</span> Lorem ipsum dolor
                  sit amet, co
                </p>
                <div class="tc-date">June 21, 2018</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer-section">
  <div class="container">
    <p class="copyright">
      Copyright &copy;2021 All rights reserved | This template is made with
      <i class="fa fa-heart-o" aria-hidden="true"></i> by
      <a href="#" target="_blank">Heart</a>
    </p>
  </div>
</footer>
